<div class="task-card" *ngIf="task">
  <div class="task-card-header">
    <mat-icon>{{ task.icon }}</mat-icon>
    <span class="task-content">{{ task.content }}</span>
    <button mat-icon-button class="delete-button" (click)="deleteTask($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="task-card-body">
    <p class="task-description">{{ truncatedDescription }}</p>
  </div>
  <div class="task-card-footer" *ngIf="task.checklist && task.checklist.length > 0">
    <div class="checklist-progress">
      <mat-icon>check_box</mat-icon>
      <span>{{ checklistProgress }}</span>
    </div>
  </div>
</div>