<main class="board-container">
  <app-header
    *ngIf="currentProject"
    [currentProject]="currentProject"
    [isSyncing]="isSyncing"
    [isDarkMode]="isDarkMode"
    [isProjectArchived]="isProjectArchived"
    (themeToggled)="onToggleTheme()"
    (projectStateToggled)="onToggleProjectState()"
  ></app-header>

  <app-board
    *ngIf="currentProject"
    [currentProject]="currentProject"
    (stateChanged)="onStateChanged()"
    (taskOpened)="onTaskOpened($event)"
    (taskDeleted)="onTaskDeleted($event)"
  ></app-board>
</main>